
<div class="panel panel-default">
  <div class="panel-heading">Users
  </div>

<div class="panel-body">
<% @users.each do |user| %> 
	<% unless user == current_user %>
		<%= user.email %><br/>
	<% end %>
<% end %>
</div>
</div>