<p>
<strong>Your email:</strong>
<%= current_user.email%>
</p>

<br>

<h1>Your articles:</h1>

<br>

<% @articles.each do |article|%>
	<p>
	  <strong>Title:</strong>
	  <%= article.title %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= article.description %>
	</p>
<hr>
<% end %>


